@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

* {
    /*border: 1px solid red;*/

    font-family: Gabarito, Verdana, sans-serif;

    box-sizing: content-box;
}

.section {
    text-align:center;
}

#heading-section { }

h1 {
    text-align: center;
}

.navigation-section { }

#navigation {
    list-style-type: none;
    padding:0;

    display:flex;

    justify-content: space-around;
}

#mission-statement-section {
    background-image: url("vector-blue-squares-abstract-background/442.jpg");

    height:250px;

    background-size: cover;

    background-repeat: no-repeat;

    background-position-y: center;

    padding-top:125px;
}

#mission-statement-content {
    background-color: white;

    text-align: center;

    padding-top:10px;

    padding-bottom: 10px;
}

#portfolio {

}

#portfolio-gallery {
    display:flex;

    flex-flow: row wrap;

    justify-content: space-around;
}

.portfolio-item {
    display: flex;

    flex-direction: column;

    align-items: center;
}

.portfolio-item img {
    width:200px;

    height: auto;

    margin: 20px;
}

.portfolio-item p {
    margin: 20px;

    max-width: 150px;
}

#team {

}

#team-members {
    background-image: url("vector-blue-squares-abstract-background/442.jpg");

    background-size: cover;

    background-repeat: no-repeat;

    background-position-y: center;

    display:flex;

    flex-flow: row wrap;

    justify-content: space-around;


}

.team-member {
    display: flex;

    flex-direction: column;

    align-items: center;

    background: white;

    margin: 25px 0;
}

.team-member img {
    width:200px;

    height:auto;

    margin: 20px;
}

.team-member p {
    margin: 20px;

    max-width: 150px;
}

#contact {

}

    .gluten-regular {
        font-family: "Gluten", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

.slackey-regular {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
